:root {
  /* Colors */
  --main: rgb(243, 231, 169);
  --red: rgb(243, 65, 32);
  --deepRed: rgb(197, 30, 72);
  --greyscale-gradient: linear-gradient(180deg, rgba(89, 89, 89, 0.5) -28.5%, rgba(0, 0, 0, 0) 95.56%);
  --success-gradient: linear-gradient(180deg, rgba(52, 121, 18, 0.5) -28.5%, rgba(0, 0, 0, 0) 95.56%);
  --primary-50:#FEFDF6;
  --primary-100:#FCF9EA;
  --primary-200:#FAF5DA;
  --primary-300:#F7F0C9;
  --primary-400:#F5EBB8;
  --primary-500:#F3E7A9;
  --primary-600:#CFC490;
  --primary-700:#ADA478;
  --primary-800:#8B8460;
  --primary-900:#6D684C;
  --primary:var(--primary-400);
  --secondary-50:#FBC99B;
  --secondary-100:#F9AE6A;
  --secondary-200:#F8A152;
  --secondary-300:#F79439;
  --secondary-400:#F3790A;
  --secondary-500:#DB6D07;
  --secondary-600:#C36109;
  --secondary-700:#AA5407;
  --secondary-800:#924805;
  --secondary-900:#793C05;
  --secondary:var(--secondary-400);
  --warning-50:#FEECE9;
  --warning-100:#FCD1C9;
  --warning-200:#FAAD9E;
  --warning-300:#F78771;
  --warning-400:#F56347;
  --warning-500:#F3411E;
  --warning-600:#CF371A;
  --warning-700:#AD2E15;
  --warning-800:#8B2511;
  --warning-900:#6D1D0D;
  --warning:var(--warning-400);
  --success-50:#EDF7E8;
  --success-100:#D3EBC8;
  --success-200:#B1DA9C;
  --success-300:#8CC96E;
  --success-400:#6AB942;
  --success-500:#49AA19;
  --success-600:#3E9115;
  --success-700:#347912;
  --success-800:#2A610E;
  --success-900:#214C0B;
  --success:var(--success-400);
  --error-50:#F9E8ED;
  --error-100:#F1C9D3;
  --error-200:#E69EB1;
  --error-300:#DA71BC;
  --error-400:#CC455E;
  --error-500:#C51D49;
  --error-600:#A7193E;
  --error-700:#8C1534;
  --error-800:#70112A;
  --error-900:#590D21;
  --error:var(--error-400);
  --greyscale-50:#FCFCFC;
  --greyscale-100:#F5F5F5;
  --greyscale-200:#F0F0F0;
  --greyscale-300:#D9D9D9;
  --greyscale-400:#BFBFBF;
  --greyscale-500:#8C8C8C;
  --greyscale-600:#595959;
  --greyscale-700:#454545;
  --greyscale-800:#262626;
  --greyscale-900:#1F1F1F;
  --greyscale:var(--greyscale-400);
  --black:#111111;
  --white:#FFFFFF;
  


  --green: #06d6a0;
  --text: white;

  /* Paddings/margins */
  --padding: 80px;

  /* Font faces */
}

html,
body {
  font-family: var(--mainFont);
  background: #0D0D0D;
  color: white;
}

*[class^="Mui"] {
  font-family: var(--mainFont) !important;
}

strong {
  color: var(--orange);
}

/* Tabs */

.ant-popover-placement-bottomRight .ant-popover-arrow {
  right: 4px;
}

.ant-tabs-tab.ant-tabs-tab-active > .ant-tabs-tab-btn,
.ant-tabs-tab:hover {
  color: var(--orange);
}

.ant-tabs-tab-disabled {
  color: var(--paleMain) !important;
}

/* Table */

.ant-tabs-ink-bar {
  background-color: var(--orange);
}

.ant-table {
  background: transparent;
}

.ant-table-thead > tr > th {
  background: transparent;
  font-size: 1.2em;
}

.ant-table-cell {
  color: white !important;
}

.ant-table-tbody > tr > td:hover,
.ant-table-cell-row-hover {
  color: var(--orange) !important;
  background-color: var(--paleMain) !important;
}

/* Pagination */

.ant-pagination-item-link,
.ant-pagination-item {
  color: var(--orange) !important;
  background-color: var(--paleMain) !important;
  border-color: var(--paleMain) !important;
}

.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link,
.ant-pagination-item:hover {
  border-color: var(--orange) !important;
}

.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link {
  opacity: 0.5;
  border-color: transparent;
}
.ant-pagination-item-active {
  border-color: var(--orange) !important;
}

.ant-pagination-item-active a,
.ant-pagination-item:hover a {
  color: var(--orange) !important;
}

.ant-pagination-item a {
  color: white;
}

/* No data */

.ant-empty-img-simple-g {
  stroke: currentColor;
}

.ant-empty-img-simple-path,
.ant-empty-img-simple-ellipse {
  fill: currentColor;
}

.ant-empty-description,
.ant-empty {
  color: currentColor;
}
