.vaultList {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  width: 100%;
  max-width: 950px;
  justify-content: center;
}

.main {
  display: flex;
  color:white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 200px;
}
